
body {
  @apply bg-gray-900 text-white;
}



/* corrections */
button,
input,
select,
img,
textarea {
  &:focus {
    outline: none;
  }
}

/* scrollbars */
.scrollbar-hide {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

.scrollbar {
  scrollbar-color: #718096 #232a35;
  scrollbar-width: auto;
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #232a35;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #718096;
    border-radius: 6px;
    &:hover {
      background-color: #a0aec0;
    }
  }
  &.scrollbar-square {
    &::-webkit-scrollbar {
      border-radius: 0;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0;
    }
  }
}

/* root */
#root {
  @apply fixed flex flex-col top-0 bottom-0 left-0 right-0 w-full min-h-screen p-0 h-0 overflow-x-hidden overflow-y-auto z-0 antialiased;
  @extend .scrollbar;
}

/* spinner */
.spinner-white {
  @extend .spinner;
  &:after {
    color: theme('colors.white');
  }
}
.spinner-gray {
  @extend .spinner;
  &:after {
    color: theme('colors.gray.500');
  }
}
.spinner-red {
  @extend .spinner;
  &:after {
    color: theme('colors.red.500');
  }
}
.spinner-orange {
  @extend .spinner;
  &:after {
    color: theme('colors.orange.500');
  }
}
.spinner-yellow {
  @extend .spinner;
  &:after {
    color: theme('colors.yellow.500');
  }
}
.spinner-green {
  @extend .spinner;
  &:after {
    color: theme('colors.green.500');
  }
}
.spinner-teal {
  @extend .spinner;
  &:after {
    color: theme('colors.teal.500');
  }
}
.spinner-blue {
  @extend .spinner;
  &:after {
    color: theme('colors.blue.500');
  }
}
.spinner-indigo {
  @extend .spinner;
  &:after {
    color: theme('colors.indigo.500');
  }
}
.spinner-purple {
  @extend .spinner;
  &:after {
    color: theme('colors.purple.500');
  }
}
.spinner-pink {
  @extend .spinner;
  &:after {
    color: theme('colors.pink.500');
  }
}

/* JSON Schema Form classes */
.rjsf {
}

/* elements */

/* widgets */

/* fields */
.unsupported-field {
}
.object-template {
  & .object-property-expand {
  }
}
.config-error {
}
