<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/line-awesome.css" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>" class="app"></div>
  </body>
</html>
